numpy<2.0
pandas
tqdm
python-dotenv
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
transformers>=4.40.0
sentence-transformers>=2.6.0
torch>=2.0.0
chromadb
huggingface-hub
ragas
trulens-eval
streamlit
fastapi
uvicorn
pydantic
requests
together
